{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">S'inscrire</h1>

            <div class="card shadow p-4">
                {{ form_start(registrationForm) }}
                
                <div class="mb-3">
                    {{ form_label(registrationForm.firstName) }}
                    {{ form_widget(registrationForm.firstName, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.lastName) }}
                    {{ form_widget(registrationForm.lastName, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword) }}
                    {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
            <p class="text-center mt-3">
                Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
